* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}


body { 
    background-image: url(../img/pista.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.titulo {
    font-size: 40px;
    margin-bottom: 40px;
    color: black;

    
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.tipo { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script';
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}
