body{

  background-image: url('../img/carro-login.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  }
  
  .card{
  
    width: 552px;
    height: 30px;
    border:none;
    position:absolute; 
    position: fixed;
    top: 24%;
    left: 24%;
    transform: translate(-50%, -50%);

  }
  
  .btr{
  
    border-top-right-radius: 5px !important;
  }
   
  .btl{
  
    border-top-left-radius: 5px !important;
  }
  
  .btn-dark {
      color: #fff;
      background-color: #FF0000;
  }
  
  .btn-dark:hover {
      color: #fff;
  }
  
  .nav-pills{
  
    display:table !important;
    width:100%;
  }
  
  .nav-pills .nav-link {
      border-radius: 0px;
      border-bottom: 1px solid #0d6efd40;
      color: #fff;
      background-color: #AF0404;
      font-weight: bold;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #FF0000;
    font-weight: bold;
}
  
  .nav-item{
        display: table-cell;
         background: #0d6efd2e;
  }
  
  .form{
    padding: 30px;
    height: 365px;
    width: 550px;
    background-color: #414141;
    border: #AF0404;
  }
  
  .form input{
    margin-bottom: 30px;
    border-radius: 3px;
  }
  
  
  .form input:focus{
    box-shadow: none;
  }
  
  
  .form button{
    margin-top: 20px;
    font-weight: bold;
  }

  #lblForgotPswd{
    text-align: center;
    color: #fff;
    display: block;
  }

  input:invalid {
    border: 2px solid red;
  }
  
  input:valid {
    border: 2px solid black;
  }