.tablas{
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
tr:nth-child(even){
    background-color:#252534;
}
tr:nth-child(odd){
    background-color:#1B1B28;
}
thead{
    background-color:#252534;
    border-bottom: solid 5px black;
    color: red;
    font-family: SF display;
}
tr:hover td{
    background-color:darkred  ;
    color: white;
}
